@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.image_2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image_2:hover {
    opacity: 1;
    transition: .4s all;
}

.home-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.home-content::before {
    content: '';
    background: url(https://images.unsplash.com/photo-1549476464-37392f717541?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center center/cover;
    position: absolute;
    opacity: 1.9;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.middlenav ul li:hover {
    transition: .4s ease-in-out;
    text-decoration: underline red;
    text-underline-offset: 20px;
    font-weight: bold;
    color: red;

}

.homebtn:hover {
    transition: .4s ease-in-out;
    /* transform: scale(1.1); */
    background-color: white;
    color: black;
}

.btn:hover {
    transition: .4s ease-in-out;
    /* transform: scale(1.1); */
    background-color: white;
    color: black;
}

.one_row:hover {
    transition: all;
    border-bottom: 3px solid red;
}

.two_row:hover {
    transition: all;
    border-bottom: 3px solid red;
}

.three_row:hover {
    transition: all;
    border-bottom: 3px solid red;
}

.four_row:hover {
    transition: all;
    border-bottom: 3px solid red;
}

.aboutbtn:hover {
    transition: .4s ease-in-out;
    background-color: transparent;
}

.pricingbtn:hover {
    background-color: black;
    color: white;
    transition: .4s ease-in-out;
}

.one_row h1 {
    font-size: 23px;
    font-weight: 700;

}

.servicesection h1 {
    font-size: 2.7rem;
    font-weight: bolder;
}

.servicesection p {
    font-weight: light;
}

.one_row p {
    font-size: 14px;
    font-weight: light;
}

.train_row {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.services_rows:hover {
    border: 2px solid red;
    transition: .3s ease-in-out;
}

.train_row img:hover {
    transition: .4s ease-in-out;
    opacity: 0.5;
    cursor: pointer;
}

.train_content {
    position: absolute;
    cursor: pointer;
    top: 170px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    overflow: hidden;
}

.train_row:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.train_row:hover .train_content {
    opacity: 1;
}

@media screen and (max-width: 900px) {
    nav ul {
        font-size: 14px;
        width: 100%;
    }
}


@media screen and (max-width: 1200px) {
    .footer_logo img {
        display: none;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .service_row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .row_2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .left-about img {
        display: none;
    }

    .right-about {
        text-align: center;
    }

    .right-about p {
        width: 100%;
    }


}

@media screen and (max-width: 580px) {
    .trainers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
    }
}

@media screen and (max-width:970px) {
    .features-content h1 {
        font-size: 28px;
    }

    .features-content p {
        font-size: 15px;
    }

    .price_head {
        font-size: 28px;
    }

    .price_desc {
        font-size: 15px;
    }

    .services_rows {
        font-size: 16px;
    }

    .train_section_heading h1 {
        font-size: 28px;
    }

    .train_section_heading p {
        font-size: 15px;
    }

    .servicesection h1 {
        font-size: 28px;
    }

    .servicesection p {
        font-size: 15px;
    }

    #contact h1 {
        font-size: 28px;
    }

    #contact p {
        font-size: 15px;
    }

    .home-content {
        width: 100%;

    }

    .shape-1 {
        font-size: 25px;
    }

    .shape-2 {
        font-size: 2.8rem;
    }

    .shape-3 {
        font-size: 20px;
        text-align: center;
        width: 100%;
    }

    .service_container {
        text-align: center;
    }

    .service_row {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .service_row img {
        display: block;
        margin: auto;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .features-content {
        text-align: center;
        width: 100%;
    }

    .services_rows {
        height: 100%;
        width: 100%;
    }

    .price {
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 470px) {
    .nav_rows {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }


}